body{
    font-family: Arial, Helvetica, sans-serif;
}

.color-picker-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-size: 3rem;
}

.color-display{
    border: 2px solid hsl(0, 24%, 93%);
    border-radius: 10px;
    height: 250px;
    width: 250px;
    transition: 0.25s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px ;
}

.color-display p{
    font-size: 1.5rem;
    text-align: center;
    color: yellow;
}

label{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

input[type="color"]{
    height: 50px;
    width: 75px;
    border: 3px solid hsl(0, 0%, 80%);
    padding: 5px;
    border-radius: 10px;
}