.list-category{
  font-size: 1.95em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid;
  padding: 10px;
  text-align: center;
  background-color: rgb(20, 238, 238);
  margin-bottom: 10px;
}

.list-items{
  list-style: none;
  text-align: center;
  margin: 0;
  font-size: 1.25em;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(61, 60, 59);
}

.list-items li:hover{
  cursor: pointer;
  color: blue;
}