body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.counter-container{
    text-align: center;
    border: 2px solid;
    border: none;
    border-radius: 10px;
    padding: 15px 15px;
    background-color: aqua;
}

.counter-count{
    font-size: 7em;
    margin: 0;
}

.counter-button{
    margin: 0px 5px;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    border: none;
    background-color: hsl(240, 81%, 74%);
}

.counter-button:hover{
    background-color: hsl(240, 81%, 64%);
}